<form>
    <div class="form-group row mt-3">
        <div class="col-md-4 offset-md-4 text-center">
            <app-upload-image [defaultImage]="formModel.photo_url" [ratioHigh]="4" [ratioWidth]="3"
                (onSubmit)="getCroppedImage($event)">
            </app-upload-image>
        </div>
    </div>
    <hr>

    <div class="col-md-8 offset-md-2">
        <div class="form-group row">
            <label class="form-label col-md-3 required">Nama</label>
            <div class="col-md-9">
                <input [(ngModel)]="formModel.name" type="text" name="name" class="form-control"
                    placeholder="Tulis nama menu">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 required">Kategori</label>
            <div class="col-md-9">
                <ng-select [items]="categories" placeholder="Pilih kategori" bindLabel="name" bindValue="id"
                    [loading]="showLoading" [searchable]="false" [(ngModel)]="formModel.product_category_id"
                    name="product_category_id">
                    <ng-template ng-header-tmp>
                        <input class="form-control" type="text" debounceKeyUp
                            (onEvent)="getCategories($event.target.value)" />
                    </ng-template>
                </ng-select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 required">Status</label>
            <div class="col-md-9">
                <div class="btn-group" ngbRadioGroup name="is_available" [(ngModel)]="formModel.is_available">
                    <label ngbButtonLabel class="btn-primary">
                        <input name="is_available" [(ngModel)]="formModel.is_available" ngbButton type="radio"
                            value="1"> Ada
                    </label>
                    <label ngbButtonLabel class="btn-primary">
                        <input name="is_available" [(ngModel)]="formModel.is_available" ngbButton type="radio"
                            value="0"> Habis
                    </label>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-md-3 required">Harga</label>
            <div class="col-md-9">
                <div class="input-group me-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            Rp
                        </span>
                    </div>
                    <input [(ngModel)]="formModel.price" type="text" name="price" class="form-control"
                        placeholder="Ex. 10.000">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3">Deskripsi</label>
            <div class="col-md-9">
                <ckeditor [editor]="configEditor" [(ngModel)]="formModel.description" name="description"></ckeditor>
            </div>
        </div>

        <div class="form-group row mt-4">
            <label class="col-md-3">Detail Menu</label>
            <div class="col-md-9">
                <div *ngFor="let detail of formModel.details; let i = index" class="row mb-2">
                    <div class="col-md-4">
                        <label for="">Keterangan</label>
                        <input [(ngModel)]="detail.description" type="text" name="description-{{i}}" class="form-control"
                            placeholder="Keterangan" (change)="changeDetail(detail)">
                    </div>
                    <div class="col-md-4">
                        <label for="">Type</label>
                        <select [(ngModel)]="detail.type" name="type-{{i}}" class="form-control" (change)="changeDetail(detail)">
                            <option value="Level">Level</option>
                            <option value="Toping">Topping</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="">Harga</label>
                        <input [(ngModel)]="detail.price" type="text" name="price-{{i}}" class="form-control"
                            placeholder="Harga" (change)="changeDetail(detail)">
                    </div>
                    <div class="col-md-1 text-right">
                        <button type="button" class="btn btn-danger" (click)="removeDetail(i)">-</button>
                    </div>
                </div>
                <button type="button" class="btn btn-success" (click)="addDetail()">+ Tambah Detail</button>
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-md-4"></label>
            <div class="col-md-8 text-right">
                <button type="submit" class="btn btn-primary" (click)="save()"><em class="fa fa-save"></em>
                    Simpan</button>
            </div>
        </div>
    </div>
</form>