<form>
<!-- <div class="col-md-2">
    <div class="form-group row">
        <div class="col-md-12">
            <app-upload-image [defaultImage]="formModel.photo_url" [ratioHigh]="3" [ratioWidth]="3"
                (onSubmit)="getCroppedImage($event)"></app-upload-image>
        </div>
    </div>
 </div>  -->
    <div class="col-md-4">
        <div class="form-group row">
            <label class="form-label col-md-3 required">Nama</label>
            <div class="col-md-9">
                <input [(ngModel)]="formModel.name" type="text" name="name" class="form-control"
                    placeholder="Tulis nama menu">
            </div>
        </div>
        <!-- <div class="form-group row">
            <label class="col-md-3 required">Kategori</label>
            <div class="col-md-9">
                <ng-select [items]="categories" placeholder="Pilih kategori" bindLabel="name" bindValue="id"
                    [loading]="showLoading" [searchable]="false" [(ngModel)]="formModel.product_category_id"
                    name="product_category_id">
                    <ng-template ng-header-tmp>
                        <input class="form-control" type="text" debounceKeyUp
                            (onEvent)="getCategories($event.target.value)" />
                    </ng-template>
                </ng-select>
            </div>
        </div> -->
        <div class="form-group row">
            <label class="col-md-3 required">Status</label>
            <div class="col-md-9">
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="is_available"
                    [(ngModel)]="formModel.is_available">
                    <label ngbButtonLabel class="btn-primary">
                        <input ngbButton type="radio" value="1"> Ada
                    </label>
                    <label ngbButtonLabel class="btn-primary">
                        <input ngbButton type="radio" value="0"> Habis
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 required">Harga</label>
            <div class="col-md-9">
                <div class="input-group me-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            Rp
                        </span>
                    </div>
                    <input [(ngModel)]="formModel.price" type="text" name="price" class="form-control"
                        placeholder="Ex. 10.000">
                </div>
            </div>
        </div>
        <!-- <div class="form-group row">
            <label class="col-md-3">Deskripsi</label>
            <div class="col-md-9">
                <ckeditor [editor]="configEditor" [(ngModel)]="formModel.description" name="description"></ckeditor>
            </div>
        </div> -->
    </div>
</form>