.form-control {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
}

.input-group .prepend {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.input-group .append {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

::ng-deep .daterangepicker .ranges li.active {
  background-color: #E95758;
  color: #fff;
}

::ng-deep .daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #E95758;
}
