<ng-template #formCustomer let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{titleModal}}</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-form-customer [customerId]="customerId" (afterSave)="modal.dismiss(); getCustomer()"></app-form-customer>
    </div>
</ng-template>


<div class="card-header d-flex justify-content-between">
    <h1>Daftar Customer</h1>
    <div class="row mx-0">
        <div class="col">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group input-group-sm me-2">
                        <input type="text" class="form-control form-control-sm" placeholder="masukkan nama"
                            [(ngModel)]="filter.nama" name="name" />
                        <div class="input-group-append" (click)="reloadDataTable()">
                            <span class="input-group-text">
                                <em class="fa fa-search"></em>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="px-0" style="width: fit-content;">
            <div role="group" class="btn-group btn-group-sm btn-group-justified blocks">
                <button type="button" class="btn btn-sm btn-primary" (click)="createCustomer(formCustomer)">
                    <em class="fa fa-plus font-size-14 align-middle me-1"></em> Tambah Customer
                </button>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover" datatable [dtOptions]="dtOptions">
    <thead class="thead-light">
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of listCustomer">
            <td>{{ customer.no }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td class="vertical-middle text-right">
                <a href="javascript: void(0);" class="align-middle me-2" (click)="updateCustomer(formCustomer, customer)"
                    placement="left" container="body" ngbTooltip="Ubah">
                    <em class="fa fa-edit font-size-14"></em>
                </a>
                <a href="javascript: void(0);" class="align-middle" (click)="deleteCustomer(customer.id)" placement="left"
                    container="body" ngbTooltip="Hapus">
                    <em class="fa fa-trash font-size-14"></em>
                </a>
            </td>
        </tr>
    </tbody>
</table>