.upload-image-container {
    max-width: 500px;
    background: #c2c2c233;
    border-radius: 5px;
    text-align: center;
 }
 
 .no-image {
    padding: 50px 25px;
 }
 
 .image-picker .fa {
    font-size: 4em;
    color: #C2C2C2;
 }