<form>
    <div class="form-group row">
        <label class="col-md-4 required">Nama</label>
        <div class="col-md-8">
            <input [(ngModel)]="formModel.name" type="text" name="name" class="form-control"
                [ngClass]="{ 'disabled' : isDisabledForm}" placeholder="Nama Pengguna">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 required">Email</label>
        <div class="col-md-8">
            <input [(ngModel)]="formModel.email" type="email" name="email" class="form-control"
                placeholder="Email Pengguna">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 required">No Telp</label>
        <div class="col-md-8">
            <input [(ngModel)]="formModel.phone_number" type="number" name="number" class="form-control"
                placeholder="Nomer Pengguna">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4">Password</label>
        <div class="col-md-8">
            <input [(ngModel)]="formModel.password" type="password" name="password" class="form-control"
                [ngClass]="{ 'disabled' : isDisabledForm}" placeholder="Password">
            <small class="form-text text-muted" *ngIf="activeMode == MODE_UPDATE">Kosongi password jika tidak
                diubah
            </small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4">Status</label>
        <div class="col-md-8">
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="user_roles_id"
                [(ngModel)]="formModel.user_roles_id">
                <label ngbButtonLabel class="btn-primary" *ngFor="let role of roles;">
                    <input ngbButton type="radio" value="{{role.id}}" name="user_roles_id"
                        [(ngModel)]="formModel.user_roles_id"> {{role.name}}
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4"></label>
        <div class="col-md-8">
            <button type="button" class="add-button" (click)="save()" [disabled]="isDisabledForm">
                Simpan Pesanan
            </button>
        </div>
    </div>
</form>